* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: auto;
    font-family: 'Courier New', Courier, monospace;
}

section, header, footer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
}


.tarea, .opciones {
    display: flex;
    gap: 1rem;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

.tarea {
    width: 20rem;
}

